Jan 15 10:00:01 webserver sshd[1001]: Failed password for alice from 192.168.1.10 port 52001 ssh2
Jan 15 10:00:05 webserver sshd[1002]: Failed password for alice from 192.168.1.10 port 52002 ssh2
Jan 15 10:00:10 webserver sshd[1003]: Failed password for alice from 192.168.1.10 port 52003 ssh2
Jan 15 10:00:15 webserver sshd[1004]: Failed password for alice from 192.168.1.10 port 52004 ssh2
Jan 15 10:00:20 webserver sshd[1005]: Failed password for alice from 192.168.1.10 port 52005 ssh2
Jan 15 10:01:00 webserver sshd[1006]: Accepted password for bob from 10.0.0.5 port 48000 ssh2
Jan 15 10:05:00 webserver sshd[1007]: Failed password for invalid user hacker from 203.0.113.42 port 9999 ssh2
Jan 15 10:05:01 webserver sudo[1008]: bob : FAILED su - for the root
Jan 15 10:05:02 webserver sudo[1009]: pam_unix(sudo:auth): authentication failure; logname=alice uid=1000 euid=0 tty=/dev/pts/0 ruser=alice rhost=  user=alice
Jan 15 10:05:03 webserver sudo[1010]: alice : TTY=pts/0 ; PWD=/home/alice ; USER=root ; COMMAND=/bin/bash
Jan 15 10:06:00 webserver sshd[1011]: Invalid user admin from 198.51.100.7 port 22
Jan 15 10:06:01 webserver sshd[1012]: Failed password for invalid user admin from 198.51.100.7 port 22 ssh2
Jan 15 10:10:00 webserver sshd[1013]: Accepted publickey for deploy from 10.0.0.2 port 51234 ssh2
